.RecipeAddForm-inputBlock {
    margin: 1rem auto;
}

.RecipeAddForm-inputLabel {
    display: block;
}

.RecipeAddForm-input {
    width: 50%;
}

.RecipeAddForm-ingredient {
    display: table;
    border-spacing: .5rem;
}

.RecipeAddForm-ingredient>div {
    display: table-cell;
}

.RecipeAddForm-ingredientAmount {}

.RecipeAddForm-ingredientUnit {}

.RecipeAddForm-ingredientName {}

.RecipeAddForm-ingredientDescription {}